{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<div class="row my-5">

<div class="col-md-10 mx-auto">
{% for message in app.flashes('success') %}
<div class ="alert alert-success ">
{{message}}
</div>
{% endfor %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Cathegory</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Action</th>
    <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for product in products %}
     <tr>
      <td scope="col">{{loop.index}}</td>
      <td scope="col">{{product.name}}</td>
      <td scope="col">{{product.cathegorie}}</td>
      <td scope="col">{{product.quantity}}</td>
      <td scope="col">{{product.price}}</td>
      <td scope="col"><button type="button" class="btn btn-primary position-relative">
    <i class="fa-solid fa-store"></i>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{product.quantity}}
    <span class="visually-hidden">unread messages</span>
  </span>
</button></td>

      <td scope="col" >
      <a  href="{{path('product',{id:product.id})}}" class="btn  btn-sm btn-dark">Show</a>
      <a  href="{{path('edit',{id:product.id})}}" class="btn  btn-sm btn-warning">Edit</a>
      </td>
      <td>
      <form id="{{product.id}}" action="{{path('delte',{id:product.id})}}" method="post"><button onclick="deletItem('{{product.id}}')" class="btn  btn-sm btn-danger">Delte</button></form>
    </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
